[submodule "app/repos/bachelor-thesis"]
	path = app/repos/bachelor-thesis
	url = https://github.com/SanderRonde/bachelor-thesis
[submodule "app/repos/master-thesis"]
	path = app/repos/master-thesis
	url = https://github.com/sanderronde/master-thesis
